## Lab 3: pandas

#### Introduction

We will examine a dataset containing characteristics of lego sets manufactured between 1961 and 2019 from the BRICKSET website. Variables in the dataset are described below.

| VARIABLE             |      DESCRIPTION             |
|:----------|:-------------|
| ID |  set id |
| Name |    name of set   |
| Themegroup | themegroup of set |
| Theme |  theme of set |
| Subtheme |    subtheme of set   |
| Year | year released |
| Pieces |  number of pieces |
| Minifig |    number of minifigs   |
| Package | type of packaging |
| Retail_Price |  recommended retail pri



Load pandas to read in the data and save it as dataframe named lego.

#### Question 1:
Some sets have missing information for retail_price or pieces or both. This could be because the sets are free (giveaways), they aren’t traditional lego sets (comic books, etc) or just because the information is missing. Filter the lego dataset based on the specifications below and save the result as lego. Hence, you will overwrite the original lego object. In addition, describe the implications of removing these sets.

Your new lego (data frame) should have:

• no missing pieces

• only contain sets with a nonzero number of pieces

• no missing retail_price

• only contain sets with a nonzero retail_price

• no missing year

- Print out the shape of the dataframe after cleaning the dataset.
-

In [20]:
import pandas as pd

lego = pd.read_csv('lego.csv')
lego.loc[lego.retail_price == 0, :].head(7)

,id,name,themegroup,theme,subtheme,year,pieces,minifigs,package,retail_price
2266,40135-1,Angler Fish,Miscellaneous,Promotional,Monthly Mini Model Build,2015.0,29.0,0,Polybag,0.0
2269,40138-1,Christmas Train,Miscellaneous,Seasonal,Christmas,2015.0,233.0,0,Box,0.0
2882,40094-1,Snowplough,Miscellaneous,Promotional,Monthly Mini Model Build,2014.0,46.0,0,Polybag,0.0
2883,40095-1,Micro Manager,Miscellaneous,Promotional,Monthly Mini Model Build,2014.0,50.0,0,NaN,0.0
2884,40096-1,Spring Tree,Miscellaneous,Promotional,Monthly Mini Model Build,2014.0,62.0,0,Polybag,0.0
2885,40097-1,Helicopter,Miscellaneous,Promotional,Monthly Mini Model Build,2014.0,44.0,0,Polybag,0.0
2886,40098-1,Dragon,Miscellaneous,Promotional,Monthly Mini Model Build,2014.0,43.0,0,Polybag,0.0

In [14]:
lego.sample(7)

,id,name,themegroup,theme,subtheme,year,pieces,minifigs,package,retail_price
60,31088-1,Deep Sea Creatures,Model making,Creator,NaN,2019.0,230.0,0,Box,14.99
12137,226-1,8 Named Beams,Basic,System,Supplemental,1958.0,NaN,0,Box,NaN
12102,520-9,Bricks and half bricks and two tolleys,Pre-school,Duplo,NaN,1975.0,168.0,0,Box,NaN
7326,7409-1,Secret of the Tomb,Historical,Adventurers,Orient Expedition,2003.0,42.0,2,Box,4.00
3122,60060-1,Auto Transporter,Modern day,City,Traffic,2014.0,350.0,2,Box,29.99
9410,6545-1,Search N' Rescue,Modern day,Town,Police,1996.0,286.0,3,Box,26.50
6653,7271-1,Apple,Model making,Creator,Designer Set,2005.0,8.0,0,Polybag,NaN

In [29]:
print(lego.shape)
lego2 = lego.dropna() #drops any row with no values or that are N/A
print(lego2.shape)
lego2 = lego2.loc[lego2.retail_price > 0, :] #remove retail price with 0
print(lego2.shape)
print(lego2.describe())

(12214, 10)
(4360, 10)
(4277, 10)
              year       pieces     minifigs  retail_price
count  4277.000000  4277.000000  4277.000000   4277.000000
mean   2008.243395   251.114099     2.110592     29.231814
std       9.602551   433.553512     2.479037     41.633822
min    1961.000000     1.000000     0.000000      0.500000
25%    2002.000000    38.000000     0.000000      4.990000
50%    2012.000000   109.000000     1.000000     14.990000
75%    2015.000000   305.000000     3.000000     38.500000
max    2019.000000  7541.000000    28.000000    799.990000

#### Question 2:	
Arrange the dataset in descending order of retail_price and print the first three rows. Report in words the names of the three most expensive lego sets, their prices, and how many pieces each has.

In [33]:
lego2.sort_values(by = "retail_price" , ascending = False).head(3)
##############################
lego2.theme.unique()
lego2.loc[lego2.theme == 'Harry Potter', : ].shape
lego2.loc[lego2.theme == 'Harry Potter', : ].retail_price.mean()
lego2.loc[lego2.theme == 'Harry Potter', : ].sample(6)
lego2.loc[lego2.theme == 'Harry Potter', ['name' , 'themegroup', 'subtheme']].sample(6)

lego2.sort_values(by = "retail_price" , ascending = False).tail(3)

array(['Creator Expert', 'Toy Story', 'Duplo', 'Architecture',
       'Minecraft', 'Ideas', 'City', 'BrickHeadz', 'Ninjago',
       'The Lego Movie 2: The Second Part', 'Star Wars',
       'Speed Champions', 'Jurassic World', 'Marvel Super Heroes',
       'DC Comics Super Heroes', 'Classic', 'Juniors', 'Wizarding World',
       'Creator', 'Miscellaneous', 'Seasonal', 'Promotional', 'Disney',
       'Unikitty', 'Friends', 'The LEGO Ninjago Movie',
       'Collectable Minifigures', 'Nexo Knights', 'The LEGO Batman Movie',
       'Pirates of the Caribbean', 'Dimensions', 'Mixels', 'Bionicle',
       'Legends of Chima', 'Education', 'Teenage Mutant Ninja Turtles',
       'The LEGO Movie', 'The Hobbit', 'The Lord of the Rings', 'Space',
       'Mindstorms', 'Games', 'Castle', 'Monster Fighters',
       'Bricks and More', 'Cars', 'Harry Potter', 'Racers',
       'Power Functions', 'Indiana Jones', 'Pirates', 'Factory',
       'Exo-Force', 'Trains', 'Sports', 'Town', 'World City',
       'Alpha Team', 'Spider-Man', 'Bulk Bricks', 'Explore',
       'Adventurers', 'Studios', 'Western', 'Technic', 'Basic',
       'Aquazone', 'Service Packs', 'Time Cruisers', 'Assorted', 'Books',
       'Samsonite', 'LEGOLAND'], dtype=object)

#### Question 3:

It appears that the most expensive sets generally have more pieces. Create a new variable (column) price_per_piece, representing the price in dollars per piece for each of the sets. Save the result as lego2. Hence, you will overwrite the current lego object.

In [47]:
lego2['price_per_piece'] = lego2.retail_price / lego2.pieces
lego2.sample(6)

,id,name,themegroup,theme,subtheme,year,pieces,minifigs,package,retail_price,price_per_piece
9396,6337-1,Fast Track Finish,Modern day,Town,Racing,1996.0,339.0,6,Box,40.00,0.117994
10018,4531-1,Manual Points with Track,Modern day,Trains,9 V,1991.0,6.0,0,Box,27.99,4.665000
4367,9485-1,Ultimate Race Set,Licensed,Cars,Cars 2,2012.0,280.0,0,Box,29.99,0.107107
10157,6034-1,Black Monarch's Ghost,Historical,Castle,Black Knights,1990.0,46.0,2,Box,7.25,0.157609
3281,75043-1,AT-AP,Licensed,Star Wars,Episode III,2014.0,717.0,5,Box,59.99,0.083668
6752,8873-1,Fireball Catapult,Historical,Castle,Knights' Kingdom II,2005.0,46.0,2,Box,8.00,0.173913

#### Question 4:	

Arrange the lego2 dataset in descending order of price_per_piece and return only the columns: name, themegroup, theme, pieces, price_per_piece, and the first five rows. What do you notice about these sets?

In [59]:
lego2.sort_values(by = 'price_per_piece' , ascending = False).loc[: , ['name','themegroup','theme','pieces','price_per_piece']].head(5)
############################# 2nd way #######################################
sorted_lego= lego2.sort_values(by = 'price_per_piece' , ascending = False)
sorted_lego= sorted_lego.loc[:,['name','themegroup','theme','pieces','price_per_piece']]
sorted_lego.head(5)

,name,themegroup,theme,pieces,price_per_piece
5551,Rechargeable Battery Box,Technical,Power Functions,1.0,49.990
5553,Transformer 10V DC,Technical,Power Functions,1.0,29.990
5616,Collectable Display Set 2,Licensed,Star Wars,2.0,24.995
8694,Temperature Sensor,Technical,Mindstorms,1.0,24.000
7540,Robotics Invention System Upgrade Kit,Technical,Mindstorms,1.0,20.000

#### Question 5:

What is the mean price_per_piece for the top 40 'Toy Story' sets in terms of price_per_piece?

In [86]:
lego2.loc[lego2.theme == 'Toy Story', :].head(40).price_per_piece.mean()

##########
# lego2.loc[lego2.theme == 'Star Wars', :].retail_price.mean()

0.16089862892544177

#### Question 6:

What are the unique themes in the lego dataset?

In [90]:
lego2.theme.value_counts()
lego2['theme'].unique()

array(['Creator Expert', 'Toy Story', 'Duplo', 'Architecture',
       'Minecraft', 'Ideas', 'City', 'BrickHeadz', 'Ninjago',
       'The Lego Movie 2: The Second Part', 'Star Wars',
       'Speed Champions', 'Jurassic World', 'Marvel Super Heroes',
       'DC Comics Super Heroes', 'Classic', 'Juniors', 'Wizarding World',
       'Creator', 'Miscellaneous', 'Seasonal', 'Promotional', 'Disney',
       'Unikitty', 'Friends', 'The LEGO Ninjago Movie',
       'Collectable Minifigures', 'Nexo Knights', 'The LEGO Batman Movie',
       'Pirates of the Caribbean', 'Dimensions', 'Mixels', 'Bionicle',
       'Legends of Chima', 'Education', 'Teenage Mutant Ninja Turtles',
       'The LEGO Movie', 'The Hobbit', 'The Lord of the Rings', 'Space',
       'Mindstorms', 'Games', 'Castle', 'Monster Fighters',
       'Bricks and More', 'Cars', 'Harry Potter', 'Racers',
       'Power Functions', 'Indiana Jones', 'Pirates', 'Factory',
       'Exo-Force', 'Trains', 'Sports', 'Town', 'World City',
       'Alpha Team', 'Spider-Man', 'Bulk Bricks', 'Explore',
       'Adventurers', 'Studios', 'Western', 'Technic', 'Basic',
       'Aquazone', 'Service Packs', 'Time Cruisers', 'Assorted', 'Books',
       'Samsonite', 'LEGOLAND'], dtype=object)